@import '../../assets/styles/variables.scss';

nav {
  display: $display;
  justify-content: $justify-content-space-between;
  padding: $margin-2;
  background-color: #5696a3;
}

nav div {
  display: $display;
  align-items: $align-items;
}

nav ul {
  display: $display;
  justify-content: $justify-content-space-between;
  list-style-type: none;
  padding: $margin-2;
}

nav ul li {
  display: $display-inline;
  margin-right: $margin-right-2;
}

nav ul li a {
  color: #cacedf;
  text-decoration: none;
}

nav ul li a:hover {
  color: #e9e2e2;
}

nav div button {
  background-color: #3672b8;
  color: white;
  padding: $margin-5;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: $align-items;
  }

  nav ul li {
    margin-bottom: $margin-2;
  }
}
.navbar-logo {
  width: 15px; // Ajusta el ancho de la imagen
  height: 15px; // Ajusta la altura de la imagen
  margin-right: $margin-right-2; // Añade margen a la derecha
}


