
ul {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li a {
  color: #666;
}

li a.active {
  color: #fff;
  background-color: #007bff;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li {
  display: inline;
  padding: 10px;
}


