

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.label-day {
  border: 1px solid #9a9b9c;
  background-color: #e7eaed;
  flex: 1 0 14%;
  text-align: center;
  margin: 0;
  line-height: 50px;
  color: #080808;
}

.box-day {
  flex: 1 0 14%;
  border: 1px solid #f1e8e8;
  text-align: center;
  height: 120px;
  margin: 0;
}

.span-weekend-day {
  color: #0f0f0f;
}

.span-week-day {
  color: #000000;
}

.span-not-current-month {
  color: #d7d9dd;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

}

.form-container input {
  margin-bottom: 10px;
  padding: 22px;
  border-radius: 5px;
  border: 1px solid #302f2f;
}

.form-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label-day {
  flex: 1 0 14%;
  text-align: center;
  margin: 0;
  line-height: 50px;
  color: #080808;
  border: 1px solid #9a9b9c;
  background-color: #e7eaed;
}