@import '../../assets/styles/variables.scss';

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta{
  display:flex;
  flex-direction:$flex-row;
  justify-content:space-between;
  width:410px;
  border: $border-1 solid $secondary-color;;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius:15px;
  font-family: sans-serif;
  margin: 20px; // Añade un margen alrededor de la tarjeta
}

.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
.pie{
  background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}
