@import './variables.scss';

body {
  margin: 0;
  background: $primary-gradiant-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.button {
  color: #ffffff;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.button-primary {
  background: $primary-gradiant-color;
}

.button-secondary {
  background: $secondary-gradiant-color;
}

.text-center {
  text-align: center;
}

.input {
  border-radius: $border-radius-3;
  border: $border-1 solid $secondary-color;
  padding: $spacing-2;
  font-size: $font-size-2;
  background: $primary-color;
  width: auto;
  height: $height-1;
  color: $gray-9;
  border-spacing: $border-spacing-9;
  margin: $margin-2;
}

/* Customize the label (the container) */
.container-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: $font-size-2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* Spacing */

.padding-1 {
  padding: $padding-1;
}

.padding-2 {
  padding: $padding-2;
}

.padding-3 {
  padding: $padding-3;
}
 .padding-4 {
  padding: $padding-4;
}

.padding-5 {
  padding: $padding-5;
}

.margin-center {
  margin: $margin-center;
}

.margin-top-1 {
  margin-top: $margin-top-1;
}

.margin-top-2 {
  margin-top: $margin-top-2;
}

.margin-top-3 {
  margin-top: $margin-top-3;
}

/* Font size */

.font-size-1 {
  font-size: $font-size-1;
}

.font-size-2 {
  font-size: $font-size-2;
}

.font-size-3 {
  font-size: $font-size-3;
}

.font-size-4 {
  font-size: $font-size-4;
}

.font-size-5 {
  font-size: $font-size-5;
}

.font-size-6 {
  font-size: $font-size-6;
}

.font-size-7 {
  font-size: $font-size-7;
}

.font-size-8 {
  font-size: $font-size-8;
}

.font-size-9 {
  font-size: $font-size-9;
}

/* Width */

.width-1 {
  width: $width-1;
}

.width-2 {
  width: $width-2;
}

.width-3 {
  width: $width-3;
}

.width-4 {
  width: $width-4;
}

.width-5 {
  width: $width-5;
}

.width-6 {
  width: $width-6;
}

.width-7 {
  width: $width-7;
}

.width-8 {
  width: $width-8;
}

.width-9 {
  width: $width-9;
}


.full-width {
  width: 100%;
}

